on: [push, pull_request]

name: lint

jobs:
  fmt:
    name: cargo fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Rust toolchain
        run: rustup show && rustup update && rustup component add rustfmt
      - name: cargo fmt
        run: cargo fmt --all -- --check

  clippy:
    name: cargo clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Rust toolchain
        run: rustup show && rustup update && rustup component add clippy
      - name: cargo clippy
        run: cargo clippy --all-features --tests -- -D warnings

  readme:
    name: cargo readme
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo +stable install cargo-readme
      - run: cargo install cargo-readme
      - run: cargo readme > README.md && git diff --exit-code

  check-spdx-headers:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: enarx/spdx@b5bfdd4410071bf058c8333d0e70020001524b6b # master
        with:
          licenses: Apache-2.0
